/* ErrorAlert.css */

.errorAlert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff0000; /* Fondo rojo */
    color: #ffffff; /* Texto blanco */
    padding: 10px;
    text-align: center;
    transform: translateY(-100%); /* Inicialmente, oculto arriba */
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave */
  }
  
  .errorAlert.active {
    transform: translateY(0); /* Mostrar desde arriba */
  }
  
  .errorAalert p {
    margin: 0;
  }
  
  .errorAalert button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  