.customTextarea {
  
    width: 300px;    /* Specify your desired width */
    height: 200px;   /* Specify your desired height */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
  }
  .bgBlack {
      background-color: black;
  }
  .textWhite {
      color:white;
  }
  
  .customContainer{
    margin-left: 20%; 
    margin-top: 10%;  
  
  }
  
  .customButtons{
    margin-left: 20%; 
    margin-top: 1%;  
  
  }
  
  .cHeader{
  
    max-width: 100%;
    height: 30px;
    background-color: rgb(80, 107, 231);
    display: flex;
    justify-content: flex-end;
   
  }
  
  .aboutButton {
    position: absolute;
    background-color: rgb(80, 107, 231);
    right: 0; /* Puedes ajustar este valor según sea necesario */
    top: 3px; /* Puedes ajustar este valor según sea necesario */
    z-index: 1;
    margin: 2px;
    border-style: none;
  }
  
  
  
  
  .aboutButton:hover{
    color: rgb(129, 194, 238);
  }
  
  