.customTextarea {
    margin: 0;
    width: 1000px;    
    height: 300px;   
    overflow-y: auto; 
}

#TI{
  background-color: rgb(252, 252, 252);
  color: rgb(7, 7, 7);
  margin-right: 20px;
  resize: none;
  width: 1000px;    
  height: 300px;   
  line-height: 1.1;
  font-size: 17px;
}
#TO{
  background-color: grey;
  color: rgb(17, 17, 17);
  resize: none;
  width: 1000px;    
  height: 300px;   
  line-height: 1.1;
}

#TA{
  background-color: rgb(12, 12, 12);
  color: rgb(250, 250, 250);
  resize: none;
  width: 700px;    
  height: 200px;   
}
  .bg-black {
      background-color: black;
  }
  .text-white {
      color:white;
  }
  

  .customContainer{
    display: flex;
    margin: 5%;

  }
  
  .customButtons{
    display: flex;
    margin: 0;
    gap: 10px;
    
  }
  .customButtons button{
    border-radius: 10rem;
    border: none;
    height: 40px;
    padding-inline: 20px;
  }

  
  .button {

    border-radius: 7rem;
    color: #fff;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
  }
  
  .button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(7, 173, 214); /* Cambiar el color aquí */
    border-radius: 10rem;
    z-index: -2;
  }
  
  .button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #09a; /* Cambiar el color aquí */
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  
  .button:hover {
    color: #fff;
  }
  
  .button:hover:before {
    width: 100%;
  }
  


  .buttonSend {
    padding-inline: 20px;
    border-radius: 7rem;
    color: #fff;
    padding: 3px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
  }
  
  .buttonSend:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(94, 202, 118); /* Cambiar el color aquí */
    border-radius: 10rem;
    z-index: -2;
  }
  
  .buttonSend:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(3, 92, 40); /* Cambiar el color aquí */
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  
  .buttonSend:hover {
    color: #fff;
  }
  
  .buttonSend:hover:before {
    width: 100%;
  }
  

  .customTextareaContainer {
    display: flex;
    align-items: flex-start;
  }


  .lineNumbers {
    border: 1px;
    border-style: solid;
    border-right: none;
    border-color: maroon;
    background-color: #dad9d9;
    padding: 2px 10px;
    text-align: right;
    user-select: none;
    font-size: 17px;
    color: #6d6d6d;
    line-height: 20px;
    width: 60px;
    height: 300px;
    overflow-y: scroll;
    
  }

  .compile_area{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


  }


.suggestions_container {
  margin-right: 10px;
  background-color: gray; /* Color de fondo gris */
}

/* Estilo para cada sugerencia */
.suggestion_item {
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.2s, color 0.2s;
}

/* Estilo para la sugerencia seleccionada */
.suggestion_item:hover {
  background-color: #fff;
  color: rgb(15, 8, 228); /* Color del texto blanco cuando se selecciona */
}

  

 
  